*{
    background-color: darkcyan;
}

.save, .searchCity, .Refresh{
    background-color: brown;
}
.card{
   border-style: solid;
   border-color: blue;
   background-color: beige;
   font-style: oblique;
}
input{
    background-color: beige;
}
h1{

}
strong{
    background-color: beige;
}